:root {
  --primary: #741c28;
  --secondary: #0e1c35;
  --accent: #c5a46d;

  --background: #f9f8f7;

  --text: #2d2d2d;

  --light-text: #777777;

  --border: #e5e5e5;

  --container: 1280px;

  --radius: 10px;

  --transition: all 0.35s ease;
}
